a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px;
}

.auth-form {
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
}

.page-style {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #efefef;
}

.filter {
    padding: 15px;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 4px;
}

.products-table th,
.products-table td {
    padding: 8px 100px 8px 10px;
    text-align: left;
}

.products-table th {
    background-color: #f2f2f2;
}

.product-type-item > p {
    margin-left: 40px;
}

.product-type-item > h3 {
    margin-left: 20px;
}